*.swp
*.swo
tests/qemu/test-i386
tests/jit-paging/test-jit
tests/jit-paging/test-jit-smc
*.map
build/
closure-compiler/
images/
*.bak
*.orig
*.wasm
*.o
*.bin
*.img
*.fixture
*.fuse_hidden*
*.DS_Store
node_modules/
Cargo.lock
build-head
src/rust/gen/interpreter.rs
src/rust/gen/interpreter0f.rs
src/rust/gen/analyzer.rs
src/rust/gen/analyzer0f.rs
src/rust/gen/jit.rs
src/rust/gen/jit0f.rs
src/rust/gen/jit64.rs
src/rust/gen/jit64_0f.rs
src/rust/gen/jit64_wrappers.rs
src/rust/gen/interpreter0f38.rs
src/rust/gen/interpreter0f3a.rs
src/rust/gen/analyzer0f38.rs
src/rust/gen/analyzer0f3a.rs
src/rust/gen/jit0f38.rs
src/rust/gen/jit0f3a.rs
src/rust/gen/jit64_0f38.rs
src/rust/gen/jit64_0f3a.rs
bios/seabios
bench-results
.devcontainer/devcontainer-lock.json
package-lock.json
tests/devices/virtio_gpu_kernel.bin
